ul {
    border-top-style: none;
    border-bottom-style: none;
    border-right-style: none;
    border-left-style: solid;
    border-color: turquoise;
    background-color: aliceblue;
    color: turquoise;
}

body {
    background-color: antiquewhite;
}

.text {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 25px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

#dirty {
    width: 110%;
    height: 110%;
}

#clean {
    width: 110%;
    height: 110%;
}

h1 {
    color: rgb(38, 212, 235);
    font-size: 50px;
    text-align: center;
    text-decoration-line: underline;
    font-family: 'Times New Roman', Times, serif
}

nav {
    margin-top: 25px;
}

.nice {
    text-align: center;
    width: 100px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

#nicu {
    text-align: center;
 }